body {
    height: 100%;
}

html {
    overflow-x: hidden;
    height: 100%;
}

@font-face {
    font-family: Firasans;
    src: url('../fonts/FiraSans-Light.otf');
}

@font-face {
    font-family: Bebas;
    src: url('../fonts/BebasNeue.otf');
}

h1 {
    font-family: Bebas;
    font-size: 45px;
}

h3 {
    font-family: Firasans;
}

/* DONATE BUTTON */
.donate-button-parent {
    float: right;
    width: 300px;
    margin-top: 10px;
    margin-right: -160px;
}

.fb_iframe_widget{
    display: inline-block;
    position: fixed!important;
    z-index: 1;
    margin-top: 10px;
    margin-right: 10px;
}

.donate-button-child a {
    position: fixed;
    background-color:  #F7A814;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    margin-left: -180px;
    z-index: 1;
    width: auto;
    text-decoration: none;
    border-radius: 5px;
}

.donate-button-child a:hover {
    background-color: #005477;
}

/* WELCOME SCREEN */
#section1 {
    background: url('../../images/bg2.JPG');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.name-jose {
  text-align: center;
}

.intro {
    position: relative;
    width: 100%;
    height: 100%;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin: 0 auto;
    color: white;
    width: auto;
    max-width: 600px;
    padding: 10px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.profile-pic {
    text-align: center;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-top: 15px;
}

.welcome-text h3 {
    color: #00A8EF;
    font-weight: bold;
}

.name {
    text-align: center;
    font-size: 29px;
}

/* TEXT AND IMAGES TIMELINE */

.line-container {
    position: relative;
}

.line-container:before {
    position: absolute;
    top: 20px;
    display: block;
    bottom: 40px;
    background-color: #00A8EF;
    height: 100%;
    left: 50%;
    width: 5px;
    padding: 0;
}



.image1 img {
    width: 600px;
    height: 600px;
    border-radius: 300px;
    float: right;
    margin-top: 30px;
}

.center {
    width: 60%;
    margin: 0 auto;
}

.timeline-row {
    width: 100%;
}

.timeline-item {
    width: 50%;
    float: left;
    position: relative;
}

.row {
    overflow-x: hidden;
}

.text {
    margin-left: 110px;
    margin-top: 130px;
    margin-right: 110px;
}

.text h3 {
    font-size: 28px;
}

.circle {
    position: absolute;
    top: 270px;
    right: -18px;
    display: block;
    background-color: #00A8EF;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
}

.image img {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin-top: 30px;
}

.imageSpecial img {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    float: right;
    margin-top: 30px;
}

/* FACTS */
.facts {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #00A8EF;
}

.facts-header-text {
    padding-top: 20px;
    text-align: center;
    color: white;
}

.facts-text {
    color: white;
    display: table;
    margin: 0 auto;
    padding-bottom: 40px
}

/* BOY */
.imageBoy img {
    width: 450px;
    height: 450px;
    border-radius: 225px;
    float: right;
    margin-top: 30px;
}

.textBoy {
    margin-left: -100px;
    margin-top: 120px;
    margin-right: 110px;
    background-color: #00A8EF;
    padding: 20px;
}

.textBoy h3 {
    font-size: 28px;
    color: white
}

/* REFERAL SECTION */
.donation {
    position: relative;
    padding-top: 20px;
}

.background {
    background-color: #00A8EF;
    height: auto;
}

.header-donate {
    text-align: center;
    color: white;
    margin-top: 40px;
}
.real {
    text-align: center;
    margin-top: 60px;
}

.real a {
    background-color: ;
    text-decoration: none;
    background-color: #F7A814;
    font-size: 35px;
    border-radius: 10px;
    font-family: Firasans;
    font-weight: bold;
    padding: 8px;
    color: white;

}

.real a:hover{
    background-color: #005477;
}

.virtual {
    text-align: center;
    margin-top: 40px;
}

.virtual a {
    background-color: ;
    text-decoration: none;
    background-color: #F7A814;
    font-size: 35px;
    border-radius: 10px;
    font-family: Firasans;
    font-weight: bold;
    padding: 8px;
    color: white;
}

.virtual a:hover {
    background-color: #005477;
}

.line-container-white {
    position: relative;
}

.line-container-white:before {
    position: absolute;
    top: 30px;
    display: block;
    bottom: 0px;
    background-color: white;
    height: 73%;
    left: 50%;
    width: 2px;
    padding: 0;
}

.footer {
    text-align: center;
    color: white;
    margin-top: 80px;
}

.line {
    display: none;
}
